[Bb]uild/
[Oo]ut/
[Xx]64/
[Rr]elease/
[Dd]ebug/
.vscode/
CMakeSettings.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeFiles/
*.cmake
*.a
*.lib
*.dll
*.exe
*.exp
*.o
*.obj
*.pdb
*.ipch
*.sdf
[Tt]humbs.db
[Dd]esktop.ini

vcpkg/*
!vcpkg/.gitattributes
!vcpkg/.gitignore
!vcpkg/CMakeLists.txt
!vcpkg/LICENSE.md
!vcpkg/versions.baseline.txt

vcpkg_installed/
vcpkg_buildtrees/
vcpkg_downloads/
vcpkg_packages/
vcpkg_ports/